body {
    background:gray;
}

p {
    display: flex;
}

.Message {
    background:white;
    width: 100px;
    height: 100px;
    padding: 70px;
        margin-left: auto;
        margin-right: auto;
        width: 18em;
    
}
